{% extends 'products/base.html' %}
{% load static %}
{% block css %} <link href="{% static '/vendor/css/orders.css' %}" rel="stylesheet"> {% endblock %}
{% block content %}
    <section>
    <div class="container pt-5">
        <div class="text-center mt-5">
        {% for order in orders %}
            <h1>Заказ №{{ order.id }}</h1>
            <div class="orders mt-5">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">Кол-во</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Сумма</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <th scope="row">
                                {{ product.product.name }}
                            </th>
                            <td>{{ product.quantity }}</td>
                            <td>{{ product.price }} руб.</td>
                            <td>{{ product.get_price }}руб.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p class="float-right h4 mt-3">Итого {{ order.total_price }} руб.</p>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
