{% extends 'orders/base.html' %}
{% load static %}

{% block content %}
    <section>
        <div class="container pt-5">
            <div class="text-center mt-5">
                <h1>Заказы</h1>
                <div class="orders mt-5">
                {% if orders %}
                    <table class="table">
                        <thead>
                        <tr class="table-light">
                            <th scope="col">#</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Создан</th>
                            <th scope="col">Итого</th>
                            <th scope="col">Действие</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                        <tr class="{% if order.status == paid %} {% elif order.status == delivered %} table-success {% elif order.status == in_route %} table-info {% endif %}">
                            <th scope="row">{{ order.id }}</th>
                            <td>{{ order.get_status_display }}</td>
                            <td>{{ order.created }}</td>
                            <td>5 070 руб.</td>
                            <td>
                                <a href="order.html">просмотреть</a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                            <h4>У вас нет заказов.</h4>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


